@{
    ViewData["Title"] = "Bienvenido a Social UDLA";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a SOCIAL UDLA</h1>
    <body>  En esta pagina encontraras informacion relevante sobre tu carrera    </body>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
